body {
    background-color: #ecf4f1;
}

.homeContainer {
    margin-top: 25px;
    height: 85vh;
}

.home-page-contents {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 10px;
    padding: 10px;
}

.home-name-text-place {
    letter-spacing: 3px;
}

.home-my-job-place {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*text qator bilan ishlash qismi*/
.home-left-content-place {
    padding: 15px;
}

.home-left-about-text-place-top {
    margin-top: 50px;
}

/*Animated part*/
.home-left-place-bottom-part {
    width: 100%;
    height: 150px; /* Adjust the height as necessary */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    margin-top: 64px;
}

.home-left-place-bottom-part .dark-mode {
    background-color: white;
    color: #043ae8;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.1);
}

.animated-code {
    white-space: pre-wrap; /* Preserve white spaces */
    font-family: monospace;
    font-size: 16px;
}

/*Image place*/
.home-right-content-place {
    margin: 15px;
}

.home-right-content-place {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home-my-image-place {
    position: relative;
    width: 500px; /* Logotipning kengligi */
    height: 500px; /* Logotipning balandligi */
    border-radius: 50%; /* Logotipning qirralarini yumshatish */
    border: none; /* Logotipning tashqi chegara rangi */
    overflow: hidden; /* Rasmni chegara ichida saqlash */
    background-color: white; /* Rasm fonini oq qilish */
}

.home-my-image-in {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Rasmni divga moslashtirish */
    border-radius: 20%; /* Rasmni logotip shaklida saqlash */
}

.home-left-place-bottom-part,
.animated-code {
    background: #ecf4f1;
    color: #043ae8;
}

.dark-mode .home-left-place-bottom-part,
.dark-mode .animated-code {
    background: #171d2a;
    color: greenyellow;
}


/*xxx*/


