/* General Styles */
.skillContainer {
    margin-top: 25px;
    height: 81vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-box-place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-block-part-soft {
    display: flex;
    flex-wrap: wrap; /* Ensure items wrap when needed */
    justify-content: center;
}

.skill-back-end-skill-part {
    background: #dbeae9;
    border-radius: 10px;
    padding: 10px;
    width: 330px;
    margin-right: 20px;
    margin-bottom: 20px; /* Add margin to space out sections */
}

.skill-back-end-skill-part.dark-mode {
    background: #2f3a5a;
}

.skill-part-row-place {
    background: #c2e6e4;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
}

.skill-part-row-place.dark-mode {
    background: #344267;
}

/* Technology icons */
.skill-main-back-tech {
    font-size: 50px;
}

.skill-back-end-main-technology-icons {
    display: inline-block;
    margin-right: 30px;
}

.skill-back-end-frameworks-part {
    display: flex;
    flex-wrap: wrap; /* Wrap icons to next line if needed */
}

.skill-back-frames {
    margin: 10px;
    font-size: 20px;
}

/* Phone part */
@media (max-width: 768px) {
    .skill-block-part-soft {
        display: flex;
        flex-direction: column; /* Stack items vertically on small screens */
        gap: 10px; /* Add space between rows */
        padding-left: 0; /* Remove left padding */
        margin-top: 700px;
    }

    .skill-back-end-skill-part {
        width: 100%; /* Full width on small screens */
        height: auto; /* Adjust height as needed */
    }

    .skill-main-back-tech {
        font-size: 30px; /* Adjust font size for mobile */
    }

    .skill-back-frames {
        font-size: 15px; /* Adjust font size for mobile */
    }

    .skill-part-row-place {
        width: 100%; /* Full width on small screens */
        height: auto; /* Adjust height as needed */
        display: flex; /* Ensure items are aligned properly */
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center items horizontally */
    }
}
