body {
    background-color: #ecf4f1;
}

.serviceContainer {
    margin-top: 25px;
    height: 81vh;
    padding: 15px;
}

.service-block-place {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping to handle multiple rows */
}

/* Blocklarni sozlash qismi */
.service-main-text-block {
    background: #ede9e9;
    width: 300px;
    height: 450px;
    border-radius: 15px;
    padding: 20px;
    margin: 25px;
}

.service-main-text-block.dark-mode {
    background: #212d3c;
}

.service-type-name-text.dark-mode {
    background: #212d3c;
}

.service-type-text {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.service-type-text.dark-mode {
    background: #212d3c;
}

.service-mean-text-place {
    margin-top: 20px;
}

.service-mean-text-place.dark-mode {
    background: #212d3c;
}

/* Mobile views */
@media (max-width: 768px) {
    .service-block-place {
        display: flex;
        flex-direction: column; /* Stack blocks in a column */
        align-items: center; /* Center blocks horizontally */
    }

    .service-main-text-block {
        width: 90%; /* Adjust width for mobile */
        height: auto; /* Allow height to adjust based on content */
        margin: 15px 0; /* Adjust margin for spacing between blocks */
    }

    .service-type-text {
        font-size: 14px; /* Adjust font size for better readability */
    }

    .service-mean-text-place {
        font-size: 12px; /* Adjust font size for better readability */
    }
}
